<% if (isLoggedIn()) { %>
    <h3 class="welcome">Welcome back <%= currentUser.username %></h3>
<% } else { %>
    <h3 class="welcome"></h3>
<% } %>
    

<section class="catch-header">
    <h2><%= catchRecord.caption %></h2>

    <div class="user-info">
        <p><%= catchRecord.username %></p>

        <a href="/users/<%= catchRecord.user_id %>">
            <img src="<%= catchRecord.user_img_url %>" alt="">
        </a>
    </div>

    
</section>

<section class="catch-details">

    <section class="photos">
        <img src="<%= catchRecord.image_url %>" alt="">

        <% if (isCatchOwner) { %>
            <div class="modify">
                <form action="/catches/<%= catchRecord.catch_id %>/edit" class="edit">
                    <button>Edit Catch details</button>
                </form>
    
                <form action="/catches/<%= catchRecord.catch_id %>" class="edit" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button>Delete Catch</button>
                </form>
            </div>
        <% } %>
    </section>


    <section class="experience">
        <p><%= catchRecord.experience %></p>
        
        <small>Caught at <%= catchRecord.catch_location %>, <%= catchRecord.catch_state %> on <%= catchRecord.catch_date %></small>

    </section>


</section>