<div class="form-bg">
    
    <form action="/catches/<%= catchData.catch_id %>" method="post" class="share-catch-page" id="share-catch" enctype="multipart/form-data">
        <input type="hidden" name="_method" value="PUT">

        <h3>Share your Catch!</h3>
        
        <label for="caption">Catch Caption</label>
        <input type="text" name="caption" id="caption" placeholder="Title your experience..." value="<%= catchData.caption %>">

        <label for="experience">What was the Experience like?</label>
        <textarea name="experience" id="experience" placeholder="Share your Experience..."><%= catchData.experience %></textarea>

        <label for="photo">Upload a photo</label>
        <input type="file" name="uploaded-file">
        
        <div class="share-catch-location">
            <div class="catch-state">
                <label for="catchState">State</label>
                <select name="catchState" id="catchState" form="share-catch" value="<%= catchData.catch_state %>">
                    <option value="VIC">Victoria</option>
                    <option value="NSW">New South Wales</option>
                    <option value="CBR">Canberra</option>
                    <option value="NT">Northern Territory</option>
                    <option value="QLD">Queensland</option>
                    <option value="WA">Western Australia</option>
                    <option value="SA">Southern Australia</option>
                </select>
            </div>
            
            <div class="catch-location">
                <label for="catchLocation">Location</label>
                <input type="text" name="catchLocation" placeholder="e.g. Dock Lake" value="<%= catchData.catch_location %>">
            </div>
        </div>

        <label for="catchDate">Date</label>
        <input type="date" name="catchDate" id="catchDate" value="<%= catchData.catch_date %>">

        <% if (badCatchDetails) { %>
            <p class="about-message warning"><%= catchData.invalidCreation %></p>
        <% } %>

        <button>Share</button>
    
    </form>

</div>
